<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>サインイン</title>
  <link rel="stylesheet" href="..//CSS/001-01_Sign_in_style.css" type="text/css" />
</head>

<body>
  <div>
    <form>
      <h1>サインイン</h1>
      <input type="text" id="email" placeholder="email" /> <label id="E_email"></label>
      <input type="password" id="pass" placeholder="Password" /> <label id="E_pass"></label>
      <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
      <label for="checkbox-1-1">パスワードを保存します</label>
      <button>サインイン</button>
      <p><a href="#" id="forget"><small>パスワードを忘れた場合</small></a></p>
      <p><a href="#" id="new account"><small>新しくアカウントを作る</small></a></p>

    </form>
  </div>
</body>

</html>